### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

#data
a-backup
logs
results
data
paper
Fig4_human_data/backup_strategy

# special file
.gitignore
environment_all.yml
start_exps.py

