
# Please keep minimal dependency!!!

# Single-cell sequencing analysis
anndata>=0.6
scanpy

# Data analysis
numpy>=1.18.0
scipy>=1.4.1
pandas>=0.23.0

# Plotting
matplotlib>=3.1.2
seaborn>=0.10.0

# Inference
torch
nnlite>=0.0.3
umap-learn>=0.5.3
scikit-learn>=0.23

# Others
tqdm
