# pip install -r ./requirements.txt

# Note, the original results are based on versions by changing ">=" to "=="

# Core scientific computing
numpy>=1.24.4,<2.0.0
scipy>=1.15.2
pandas>=2.2.3
scikit-learn>=1.5.1
pynvml>=11.5.0
gseapy>=1.1.9
psutil>=5.9.5
mkl-random>=1.2.8
# xarray>=2023.12.0
# dask>=2024.9.1

# Deep learning frameworks
torch>=2.0.1,<=2.6.0
torchaudio>=2.0.2
torchvision>=0.15.2,<=0.21.0
tensorboard>=2.13.0
pytorch-lightning>=2.0.4,<=2.0.9
# keras>=2.13.1
# jax>=0.4.29
# jaxlib>=0.4.30
# flax>=0.7.5

# Data visualization
matplotlib>=3.9.2
seaborn>=0.13.2
matplotlib-venn>=1.1.2
adjustText>=1.3.0
# plotly>=5.15.0  # Recommended addition

# Bioinformatics/single-cell analysis
scanpy>=1.10.3
anndata>=0.8.0
umap-learn>=0.5.4
# scvi-tools>=1.0.4
# pyreadr>=0.4.7
# rpy2>=3.6.1 # fail due to gcc

# Image processing
# pillow>=10.0.0
# opencv-python>=4.8.0.76  # Recommended addition

# Natural language processing
# spacy>=3.6.1
# nltk>=3.8.1  # Recommended addition

# Essential utilities
tqdm>=4.64.1
# jupyterlab>=4.0.9
# ipython>=8.14.0
# pyyaml>=6.0.1
# requests>=2.31.0
# h5py>=3.13.0
# pyarrow>=13.0.0
# fsspec>=2023.6.0
